<%- include('../../front/header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <%- include('../adminsidebar.ejs') %>
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1 style="color: #386576;">Category Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a href="/admin/createcategory" class="btn btn-success" style="background-color: #ffa500; border: none;">Add Category</a>
                            </div>
                        </div>
                        <table class=" table-bordered table-striped">
                            <tr class=" table_heading text-center">
                                <th>ID No.</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            <% var i=1 %>
                            <% d.forEach((item)=>{ %>
                                <tr>
                                    <td>
                                        <%= i++ %>
                                    </td>
                                    <td>
                                        <%= item.title %>
                                    </td>
                                    <td>
                                        <%= item.description %>
                                    </td>
                                    <td>
                                        <a href="/admin/viewcategory/<%= item._id %>"
                                            class="btn btn-info btn-sm"><i class="fa-solid fa-eye"></i></a>
                                        <a href="/admin/Editcategory/<%= item._id %>"
                                            class="btn btn-info btn-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a href="/admin/deletecategory/<%=item._id %>" class="btn btn-info btn-sm"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('../../front/footer.ejs') %>
