<%- include('../front/header.ejs') %>

<section class="banner">
    <div class="banner-box">
        
    </div>
</section>
    <section class="featured-blog mtb-40">
        <div class="container">
            <div class="row">
                <% d.forEach((item)=>{ %>
                <div class="col-md-4">
                    <div class="blog-box">
                        <img src="<%= item.image.url %>" width="350px" height="250px" alt="blog1" />
                        <h3><%= item.title %></h3>
                        <p><%= item.createdAt.toLocaleDateString() %></p>
                        <p><%= item.description.slice(0,100) %></p>
                        <a href="/blogdetail/<%= item._id %>" class="btn" style="background-color: #f79d16; color: #ffff;">Read more...</a>
                    </div>
                </div>
                <% }) %>
                
            </div>
        </div>
    </section>
    
<%- include('../front/footer.ejs') %>